{% extends 'base.html' %}

{% block title %}Crear nueva cuenta{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Crear cuenta</button>
</form>
{% endblock %}