{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Cambio de Contraseña</h2>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Cambiar</button>
</form>
{% endblock %}