{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Iniciar Sesion</button>
</form>
{% endblock %}