<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title%}GCC Login{% endblock %}</title>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>