{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hola {{ user.username }}!
    <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>
    <p><a href="{% url 'change_password' %}">Cambiar Contraseña</a></p>    
{% else %}
    <p>No has iniciado sesión</p>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
    <a href="{% url 'crear_cuenta' %}">Crear Cuenta</a>
{% endif %}
{% endblock %}